$primaryColor: #a020f0;
$secondaryColor: #fffdd0;
$bgColor: #eee;
$containerColor: #fcfbf4;
$primaryFont: "Poppins";
$secondaryFont: "Hanken Grotesk";
$cursiveFont: "Parisienne";
$errorColor: #c62828;
$successColor: #5ad24c;
$errorFont: "Expletus Sans";
